<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link th:href="@{login/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- styles -->
    <link th:href="@{login/css/styles.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Logo -->
                <div class="logo">
                    <h1><a>Portfolio Admin Panel</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="#" th:action="@{/admin}" th:object="${projectObject}" method="post">
                <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" th:field="*{name}" class="form-control" id="usr">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error ex.</span>
                </div>

                <div class="form-group">
                    <label for="pwd">Client:</label>
                    <input type="text" th:field="*{client}" class="form-control" id="pwd">
                    <span th:if="${#fields.hasErrors('client')}" th:errors="*{client}">client error ex.</span>
                </div>

                <div class="form-group">
                    <label for="ect">Date:</label>
                    <input type="date" th:field="*{date}" class="form-control" id="ect">
                    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">number error ex.</span>
                </div>

                <div class="form-group">
                    <label for="cos">Img name:</label>
                    <input type="text" th:field="*{img}" class="form-control" id="cos">
                    <span th:if="${#fields.hasErrors('img')}" th:errors="*{img}">img error ex.</span>
                </div>

                <div class="form-group">
                    <label for="link">GitHub link:</label>
                    <input type="text" th:field="*{git}" class="form-control" id="link">
                    <span th:if="${#fields.hasErrors('git')}" th:errors="*{git}">email error ex.</span>
                </div>

                <div class="form-group">
                    <label for="comment">Description:</label>
                    <textarea class="form-control" th:field="*{description}" rows="5" id="comment"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name error ex.</span>
                </div>

                <div class="action">
                    <!--<a class="btn btn-primary signup" href="index.html">Login</a>-->
                    <a><input class="btn btn-primary signup" type="submit" value="Add Project"/></a>
                </div>
            </form>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{login/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{login/js/custom.js}"></script>
</div>
</body>
</html>