<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="LukaszKolacz">

    <title>Portfolio - Lukasz Kolacz</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">


    <!-- Theme CSS -->
    <!--<link href="css/freelancer.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{css/freelancer.min.css}">


    <!-- Custom Fonts -->
    <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" th:href="@{vendor/font-awesome/css/font-awesome.min.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Łukasz Kołacz</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio" th:text="#{portfolio}">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="#about" th:text="#{about}">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact" th:text="#{contact}">Contact</a>
                </li>
                <li class="page-scroll">
                    <a href="/login" th:text="#{login}">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile1.png" alt="">
                <div class="intro-text">
                    <h1 class="name">Łukasz Kołacz</h1>
                    <hr class="star-light">
                    <span class="skills" th:text="${skills}"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <th:block th:each="project : ${projects}">
                <div class="col-sm-4 portfolio-item">
                    <a th:href="'#' + ${project.id}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img th:src="'img/portfolio/' + ${project.img} + '.png'" class="img-responsive" alt="Cabin">
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 th:text="#{about}">About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p th:text="${about}"></p>
            </div>
            <div class="col-lg-4">
                <p th:text="${about}"></p>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                <!--<a href="#" class="btn btn-lg btn-outline">-->
                    <!--<i class="fa fa-download"></i> Download Theme-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 th:text="#{contactMe}">Contact Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

                <form action="/" th:action="@{/}" method="post" th:object="${emailClass}" id="contactForm">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="name" th:text="#{name}"></label>
                            <input type="text" th:field="*{name}" class="form-control" th:placeholder="#{name}" id="name"
                                   required
                                   data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="email" th:text="#{email}">Email Address</label>
                            <input type="email" th:field="*{email}" class="form-control" th:placeholder="#{email}"
                                   id="email" required
                                   data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="phone" th:text="#{phone}">Phone Number</label>
                            <input type="tel" th:field="*{phonenumber}" class="form-control" th:placeholder="#{phone}"
                                   id="phone" required
                                   data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="message" th:text="#{message}">Message</label>
                            <textarea rows="5" th:field="*{message}" class="form-control" th:placeholder="#{message}"
                                      id="message" required
                                      data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <br>
                    <div th:if=${success} id="success" th:text="#{sentSuccessfully}">Email sent successfully!</div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg" th:text="#{send}">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3 th:text="#{locationTitle}">Location</h3>
                    <p th:text="${location}"></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3 th:text="#{aroundTheWebTitle}">Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/" target="blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i
                                    class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com" target="blank" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i
                                    class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="blank" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i
                                    class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/%C5%82ukasz-ko%C5%82acz-359bb9142/" target="blank" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i
                                    class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/" target="blank" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i
                                    class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3 th:text="#{aboutMeTitle}">About Freelancer</h3>
                    <p th:text="${aboutMe}">Freelance is a free to use, open source Bootstrap theme created by <a
                            href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Your Website 2016
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<th:block th:each="project : ${projects}">
    <div class="portfolio-modal modal fade" th:id="${project.id}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 th:text="${project.name}"></h2>
                            <hr class="star-primary">
                            <!--<img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">-->
                            <img th:src="'img/portfolio/' + ${project.img} + '.png'" class="img-responsive img-centered"
                                 alt="">
                            <p th:text="${project.description}"></p>
                            <ul class="list-inline item-details">
                                <li>Klient:
                                    <strong><a href="#" th:text="${project.client}"></a>
                                    </strong>
                                </li>
                                <li>Data:
                                    <strong><a href="#" th:text="${#dates.format(project.date, 'MMM yyyy')}"></a>
                                    </strong>
                                </li>
                                <li>GitHub:
                                    <strong><a th:href="${project.git}" target="blank" th:text="${project.git}"></a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Zamknij
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- jQuery -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>


<!-- Bootstrap Core JavaScript -->
<!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<!--<script src="js/jqBootstrapValidation.js"></script>-->
<script th:src="@{/js/jqBootstrapValidation.js}"></script>

<!-- Theme JavaScript -->
<!--<script src="js/freelancer.min.js"></script>-->
<script th:src="@{/js/freelancer.min.js}"></script>

</body>

</html>